{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1>COMP-2140 Assignment 1 Autograder</h1>
        <br>
        <div class="row bg-light p-4">
            <div class="col-6">
                <h3>A11</h3>
                <p>Paste ONLY your <strong>getIdentifiers</strong> function below, and click run</p>
                <textarea name="a11" id="a11" rows="10" style="width: 90%;"></textarea><br>
                <button class="btn btn-primary" onclick="submitAssignment(1)">Submit A11</button>
                <br><br>
                <h4>Result:</h4>
                <div id="resa11"></div>
            </div>
            <div class="col-6">
                <h3>A12</h3>
                <p>Paste ONLY your <strong>getIdentifiers</strong> function below, and click run</p>
                <textarea name="a12" id="a12" rows="10" style="width: 90%;"></textarea>
                <button class="btn btn-primary" onclick="submitAssignment(2)">Submit A12</button>
                <br><br>
                <h4>Result:</h4>
                <div id="resa12"></div>
            </div>
        </div>
    </div>
    <script>
        let submitAssignment = (num) => {
            let inp = document.getElementById(`a1${num}`).value;
            let resultElem = document.getElementById(`resa1${num}`);
            resultElem.innerHTML = 'loading...'
            fetch(`/run/a1${num}`, {
                method: 'POST',
                body: JSON.stringify({code: inp}),
                headers: {
                    'Content-Type': 'application/json'
                }
                })
                .then(res => res.text())
                .then(data => resultElem.innerHTML = data)
                .catch(error => console.error(error));

        }
    </script>
{% endblock %}