{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/dracula.css') }}">
    <div class="container">
        <h1>COMP-2140 Assignment 2 Autograder</h1>
        <br>
        <h3> A21 </h3>
        <p>Paste your code below to check what your mark will be.</p>
        <p>DFA's For Testing: 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa0.txt') }}">DFA 0</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa1.txt') }}">DFA 1</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa2.txt') }}">DFA 2</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa3.txt') }}">DFA 3</a>, 
        </p>
        <p> Here are example strings corresponding to these DFA's
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa0_inputs.zip') }}">inputs 0 </a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa1_inputs.zip') }}">inputs 1</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa2_inputs.zip') }}">inputs 2</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A21/dfa3_inputs.zip') }}">inputs 3</a>, 
        </p>
        <p> Please <strong>NOTE</strong> these input files are zip files that contain 4 input files each<br>
            DFA.java reads 1 line from an input file at a time, we stronly suggest you unzip and run the files one at a time.<br>

            <h3>How to run your code:</h3>
            The syntax for running A11 is the following:<br><br>
            &nbsp&nbsp&nbsp&nbsp <code> javac DFA.java <br> </code>
            &nbsp&nbsp&nbsp&nbsp <code> java DFA dfa.txt input.txt output.txt </code> <br><br>
            Where "dfa.txt", "input.txt" are the dfa input and example language input respectively. i.e dfa0.txt and dfa0.input_1.txt <br>

            Your output will contain the example language string followed by a true/false based on if the example string is accepted or not.<br>
        </p>

        <h3> A22 </h3>
        <p>Paste your code below to check what your mark will be.</p>
        <p> Here are input files that you can download
            <a href="{{ url_for('static', filename='java/Assignment2/A22/A2_0.tiny') }}">A2_0.tiny</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A22/A2_1.tiny') }}">A2_1.tiny</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A22/A2_2.tiny') }}">A2_2.tiny</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A22/A2_3.tiny') }}">A2_3.tiny</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A22/A2_4.tiny') }}">A2_4.tiny</a>, 
            <a href="{{ url_for('static', filename='java/Assignment2/A22/A2_5.tiny') }}">A2_5.tiny</a>, 
        </p>
        <p> Please <strong>NOTE</strong> in order for A22 to run successfully on the site.<br>
            You <strong>MUST</strong> replace your input file with <strong>A2.input.tiny</strong><br>
            For example if your input file in your <strong>A2.lex</strong> is "A2.tiny" you must replace it with "A2.input.tiny"<br>

            <h3>How to run your code:</h3>
            Setup JLex on your machine from the following link: <a href="https://jlu.myweb.cs.uwindsor.ca/214/lab_4.htm">JLex_Setup</a><br>
            After JLex is setup run your program with the following lines:<br>
            &nbsp&nbsp&nbsp&nbsp <code> java JLex.Main A2.lex <br> </code>
            &nbsp&nbsp&nbsp&nbsp <code> javac A2.lex.java </code> <br>
            &nbsp&nbsp&nbsp&nbsp <code> java A2 </code> <br><br>
        </p>
        <br>
        <div class="row p-4">
            <div class="col-md-6">
                <h3>A21</h3>
                <p>Paste ONLY your <strong>run</strong> function below, and click run</p>
                <textarea name="a21" id="a21" rows="10" style="width: 90%;"></textarea><br>
                <button class="btn btn-primary" id="a21button" onclick="submitAssignment(1)">Run A21</button>
                <br><br>
                <h4>Result:</h4>
                <div id="resa21"></div>
            </div>
            <div class="col-md-6">
                <h3>A22</h3>
                <p>Paste ONLY your <strong>A2.lex</strong> file below, and click run</p>
                <textarea name="a22" id="a22" rows="10" style="width: 90%;"></textarea><br>
                <button class="btn btn-primary" id="a22button" onclick="submitAssignment(2)">Run A22</button>
                <br><br>
                <h4>Result:</h4>
                <div id="resa22"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='codemirror/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/clike.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/closebrackets.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/matchbrackets.js') }}"></script>
    <script>
        var editorconf = {
            // mode: "text/x-csharp",
            mode: "text/x-java",
            theme: "dracula",
            lineNumbers: true,
            matchBrackets: true,
            autoCloseBrackets: true
        };
        var editors = [
            CodeMirror.fromTextArea(document.getElementById('a21'), editorconf),
            CodeMirror.fromTextArea(document.getElementById('a22'), editorconf)
        ];
        
        let submitAssignment = (num) => {
            editors[num-1].save();
            let inp = document.getElementById(`a2${num}`).value;
            let resultElem = document.getElementById(`resa2${num}`);
            let a21button = document.getElementById(`a21button`);
            a21button.setAttribute("disabled", true);

            let a22button = document.getElementById(`a22button`);
            a22button.setAttribute("disabled", true);

            resultElem.innerHTML = 'loading...'
            fetch(`/run/a2/a2${num}`, {
                method: 'POST',
                body: JSON.stringify({code: inp}),
                headers: {
                    'Content-Type': 'application/json'
                }
                })
                .then(res => res.text())
                .then(data => {
                    resultElem.innerHTML = data;   
                    a21button.removeAttribute("disabled");
                    a22button.removeAttribute("disabled");
                })
                .catch(error => console.error(error));

        }
    </script>
{% endblock %}
