{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>COMP-2140 Autograder</h1><br>
    <h5>Created by Jeremie Bornais and Usman Farooqi</h5>
    <p>We created this tool to help students in COMP-2140 at the University of Windsor quickly and easily check their work. Submitted code is not saved on our servers and your output is not saved either. Therefore, submitting on this website does NOT necessarily mean you will receive a particular mark. This site is simply a tool you can use to check your code before submitting it formally.</p>
    <br>
    <h5>Some Advice</h5>
    <p>We STRONGLY recommend all students to first check their code on their local machines before using this site. While it is convenient to be able to just paste code in a website and see your result, you're not likely to fully understand the material or have a good development experience if you use this site as your primary development environment.</p>
</div>

{% endblock %}