<!doctype html>
<html lang="en">

<head>
    <title>COMP-2140</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metatags with site info -->
    <meta property="og:site_name" content="COMP-2140" />
    <meta property="og:title" content="COMP-2140 Autograder" />
    <meta property="og:description"
        content="Quickly and easily check your code for COMP-2140 assignments at the University of Windsor!" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!--Style-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='icon.png') }}" alt="icon"
                    style="height: 64px;">&nbsp COMP-2140 Autograder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('a1') }}">A1</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mb-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <!-- Boostrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

</body>

</html>